---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$primary-color:#f55b47;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials    

h2
{
    margin: 0.5em 0 0.5em;
    color:rgb(54, 54, 54);
}

.page__content h2
{
    border:0;
    // padding-bottom: 0.0em;
}

h1
{
    margin: 1.5em 0 0.5em;
    color:$primary-color;
}

.page__content h1
{
    border-bottom: 1px solid #baaa92;
    padding-bottom: 0.5em;
}

.date
{
    float:right;
    color:rgb(82, 82, 82);
    width:20%;
    text-align: right;    
    font-weight:normal;
}

.grid__item {
    margin-bottom: 0em;
}  

.grid__item {
    margin-bottom: 0em;
  
    .archive__item-teaser {
        max-height: 200px;
    }

    @include breakpoint($small) {
      float: inline-start;
      width: span(10 of 10);
  
      &:nth-child(2n + 1) {
        clear: both;
        margin-inline-start: 0;
      }
  
      &:nth-child(2n + 2) {
        clear: none;
        margin-inline-start: gutter(of 10);
      }
    }
  
    @include breakpoint($medium) {
      margin-inline: 0; /* override margin*/
      width: span(5 of 10);
    }
}

.page__hero--overlay
{
    // background-position: bottom -300px right 100px;
}

.greedy-nav a.site-title
{
    color:$primary-color;
    font-size:25px;
}

.cv-header
{
    float:left;
    width:80%;
}

html { /* apply a natural box layout model to all elements */box-sizing: border-box;background-color: #e8d5b7;font-size: 16px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
@media (min-width: 48em) { html { font-size: 16px; } }
@media (min-width: 64em) { html { font-size: 16px; } }
@media (min-width: 80em) { html { font-size: 18px; } }

.sidebar img {
    width: 50%;
    border-radius: 50%;
}